main li {
    margin: 20px auto;
}
main li a {
        color: var(--cobalt-teal);
        font-size: 1.2rem;
        -webkit-text-decoration: none;
        text-decoration: none;
        transition: color 250ms ease;
    }
main li a:hover {
        color: var(--yellow-oxide);
    }
