.button {
    display: inline-block;
    background-color: var(--button-bg);
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: var(--radius);
    text-decoration: none;
    font-weight: 600;
    transition: background-color 200ms ease;
}

.button:hover {
    background-color: var(--button-hover);
}

.button .secondary {
    background-color: transparent;
    color: var(--text-heading);
    border: 2px solid var(--text-heading)
}

.button .secondary:hover {
    background-color: var(--text-heading);
    color: white;
}

/* Featured painting */

.featured {
    padding: 4rem 0;
}

.featured-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.featured-info p {
    margin-bottom: 1rem;
}

/* blog preview grid */

.blog-preview {
    padding: 4rem 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.post-card {
    background: var(--card-bg);
    padding: 1rem;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.post-card h3 {
    margin-top: 1rem;
}

.post-card a {
    color: var(--cobalt-teal);
    font-weight: 600;
    text-decoration: none;
}

.post-card a:hover {
    color: var(--yellow-oxide);
}

/* Header */

.site-header {
    background-color: var(--ultramarine-blue);
    color: var(--titanium-white);
    padding: 1rem 0;
    box-shadow: var(--shadow);
}

.nav-container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: var(--font-heading);
    font-size: 1.6rem;
    color: var(--titanium-white);
    text-decoration: none;
}

.site-nav {
    display: flex;
    gap: 2rem;
}

.nav-link {
    color: var(--titanium-white);
    text-decoration: none;
    font-weight: 500;
    position: relative;
    padding-bottom: 4px;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--yellow-oxide);
    transition: width 0.25s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link.active,
,nav-link[aria-current="page"] {
    color: var(--yellow-oxide);
}

/* Mobile Navigation */

.nav-toggle {
    display: none;
    flex-direction: column;
    gap: 4px;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-toggle span {
    width: 24px;
    height: 3px;
    background-color: var(--titanium-white);
    border-radius: 2px;
}

@media (max-width: 800px) {
    .site-nav {
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: var(--ultramarine-blue);
        flex-direction: column;
        padding: 1rem 2rem;
        box-shadow: var(--shadow);
        border-radius: var(--radius);
    }

    .site-nav .open {
        display: flex;
    }

    .nav-toggle {
        display: flex;
    }
}