.button {
    display: inline-block;
    background-color: var(--button-bg);
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: var(--radius);
    text-decoration: none;
    font-weight: 600;
    transition: background-color 200ms ease;
}

.button:hover {
    background-color: var(--button-hover);
}

.button .secondary {
    background-color: transparent;
    color: var(--text-heading);
    border: 2px solid var(--text-heading)
}

.button .secondary:hover {
    background-color: var(--text-heading);
    color: white;
}

/* Featured painting */

.featured {
    padding: 4rem 0;
}

.featured-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.featured-info p {
    margin-bottom: 1rem;
}

/* blog preview grid */

.blog-preview {
    padding: 4rem 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.post-card {
    background: var(--card-bg);
    padding: 1rem;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.post-card h3 {
    margin-top: 1rem;
}

.post-card a {
    color: var(--cobalt-teal);
    font-weight: 600;
    text-decoration: none;
}

.post-card a:hover {
    color: var(--yellow-oxide);
}

/* blog-preview-button-fix */

.blog-preview a {
    margin-top: 20px;
}
