/* Layout Styles */

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 2rem;
}

.intro {
    background-color: var(--granite-neutral);
    padding: 4rem 0;
    box-shadow: var(--shadow);
    margin-top: -2rem;
    border-radius: var(--radius);
}