<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
    <link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg">
    <link rel="stylesheet" href="/assets/styles/style.css">
</head>
<body>
        {% include header.html %}
        <main>
            <div class="container">
            {{ content }}
            </div>
        </main>
        {% include footer.html %}
    <script src="/assets/scripts/navtoggle.js"></script>
</body>
</html>