<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.data.site.title | raw }}</title>
    <link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg">
    <link rel="stylesheet" href="/assets/styles/style.css">
</head>
<body>
    <div class="container">
        {% include header.html %}
        <main>
            {{ content }}
        </main>
        {% include footer.html %}
    </div>
</body>
</html>