---
permalink: about.html
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | {{ site.name }}</title>
    <link rel="stylesheet" href="../assets/styles/style.css">
</head>
<body>
    <div class="container">
        {% include "partials/header.html" %}
        <main>
            <h1>About</h1>
            <p>I have been painting with oil paints and watercolors for over nine
                years now. I wanted to create a blog website to highlight the 
                knowledge I have gained over the years.
            </p>
            <p>This website was created using <a href="https://11ty.dev">11ty</a>. 
            It is a static website generator using javascript as an enigine. I 
            create posts using markdown files, and 11ty applies liquid templates to structure 
            and style those files.</p>
        </main>
        {% include "partials/footer.html" %}
    </div>
</body>
</html>