---
title: Contact
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
    <link rel="stylesheet" href="/assets/styles/style.css">
</head>
<body>

        {% include header.html %}
        <main>
            <form action="https://api.web3forms.com/submit" method="post" id="contact">

                <input type="hidden" name="access_key" value="0d1dc04a-654f-4663-bbd1-0d40c2908f0c">
                <input type="hidden" name="subject" value="New Submission from Web3Forms">
                <input type="hidden" name="redirect" value="https://jaredsartblog.net/success.html">

                <h3>Contact Me</h3>
                <fieldset>
                    <input placeholder="Your name" name="name" type="text" required>
                </fieldset>
                <fieldset>
                    <input placeholder="Your Email Address" name="email" type="email" required>
                </fieldset>
                <fieldset>
                    <textarea placeholder="Type your message here..." name="message"></textarea>
                </fieldset>
                <div class="h-captcha" data-captcha="true"></div>
                <fieldset>
                    <button name="submit" type="submit" id="contact-submit">Submit</button>
                </fieldset>
            </form>
        </main>
        {% include footer.html %}

<script src="https://web3forms.com/client/script.js" async defer></script>
</body>
</html>