---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery | {{ site.data.site.title }}</title>
    <link rel="stylesheet" href="/assets/styles/style.css">
</head>
<body>
    <div class="container">
        {% include header.html %}
        <main>
        <div class="gallery">

    <div class="card">
      <div class="card-img-wrap">

         <img src="/assets/images/gallery/ocean_wave_scaled.jpg" alt="Ocean Wave">
      </div>
      <div class="card-info">
        <div class="card-name">Ocean Wave</div>
        <div class="card-type">Oil on Canvas</div>
      </div>
    </div>

    <div class="card">
      <div class="card-img-wrap">
        <img src="/assets/images/gallery/rocking_chairs_scaled.jpg" alt="Rocking chairs before landscape">
      </div>
      <div class="card-info">
        <div class="card-name">Rocking Chairs</div>
        <div class="card-type">Oil on Canvas</div>
      </div>
    </div>

    <div class="card">
      <div class="card-img-wrap">
        <img src="/assets/images/gallery/snowman_scaled.jpg" alt="Snowman in front of house">
      </div>
      <div class="card-info">
        <div class="card-name">Snowman</div>
        <div class="card-type">Oil on Canvas</div>
      </div>
    </div>
    
  </div>
       </main>
        {% include galler-footer.html %}
    </div>
</body>
</html>