---
title: Gallery
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
    <link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg">
    <link rel="stylesheet" href="/assets/styles/style.css">
</head>
<body>
{% include header.html %}
<div class="container">
<section class="gallery">
<div class="gallery-grid">
  {% for painting in site.paintings %}
    <div class="gallery-item">
      <img 
        src="{{ painting.thumbnail }}" 
        data-full="{{ painting.full }}"
        alt="{{ painting.title }}"
        class="lightbox-trigger"
      >
      <p class="caption">{{ painting.title }}<br>{{ painting.size}} {{ painting.medium }}<br>
        {{ painting.year }}<br>
      {{ painting.type }} - {{ painting.source }}<br>{{ painting.description }}
      </p>
    </div>
  {% endfor %}
</div>
</section>
</div>

<!--Lightbox-->
<div id="lightbox" class="lightbox">
    <span class="close">&times;</span>
    <img src="" alt="" class="lightbox-image">
    <div class="lightbox-caption"></div>
    <span class="prev">&#10094;</span>
    <span class="next">&#10095;</span>
</div>
{% include footer.html %}
<script src="/assets/scripts/lightbox.js"></script>
<script src="/assets/scripts/navtoggle.js"></script>
</body>
</html>